/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {

}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

.fav-icon {
  margin-right: 1%;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin-right: 0.5%;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  font-size: 0.85rem;
  font-weight: bold;
  color: darkgreen;
  margin-left: 2em;
}

.story-user {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  color: orange;
  margin-left: 2em;
}

.story-hostname {
  font-weight: bold;
}
.delete-button {
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.delete-button > i {
  pointer-events: none;
}

.edit-button {
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.edit-button > i {
  pointer-events: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

hr {
  margin-left: 0;
  margin-right: 0;
}
